<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNgSuite" parallel="tests" thread-count="5">
    <listeners>
        <listener class-name="common.ListenerSuitTestNG" />
    </listeners>

    <test name="PetStoreTest">
        <classes>
            <class name="PetStoreTest"/>
        </classes>
    </test>

</suite>